* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282932;
    width:100%;
    min-height: 82vh;
}

#content {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border-radius: 10px;
   background-color: white;
   padding: 0px 30px 30px 30px;
}

h4 {
    font-size: 20px;
    font-weight: bold;
    color: #f7b613; 
    margin: 30px 0px;
}

#content p,pre {
    font-family: cursive;
    color: black;
    border-bottom: #282932;
    margin-bottom: 15px;
}