* {
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.site-header {
    background-color: #f7b613;
    height: 100px;
    width: 100%;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 620;
    padding-left: 30px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 30px 20px 30px;
    gap: 20px; /* space between menu items */
}

.menuitem {
    width: 220px;
    background-color: antiquewhite;
    border-radius: 10px;
    padding-bottom: 10px;
}

.menuitem img{
    display: block; /* remove inline-gap below images */
    height: 150px;
    width: 220px;
    object-fit: cover; /* ensure image covers its box */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.menuitem h4 {
    font-weight:600;
    font-size: 18px;
    margin: 5px;
}

.menuitem p {
    font-size: 14px;
    color:#60605F;
    margin: 5px;
}

.menuitem b{
    font-size: 14px; 
    margin: 5px;
}

.menuitem button {
    float: right;
    margin-right: 10px;
    background-color: #f7b613;
    box-shadow: none;
    border-radius: 5px;
    width: 30%;
    height: 25px;

    font-size: 14px;
    font-weight: 600;

    /* Reset default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    /* Remove border and box shadow */
    border: none;
    box-shadow: none;
}

.menuitem button:hover {
    background-color: #805c03;
}

.menuitem button:active {
    background-color: #805c03;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.site-footer{
    position: sticky;
    top: 100%;
    height: 60px;
    width: 100%;
    background: linear-gradient(#f2d17f,#f7b613);
    background: -webkit-linear-gradient(#f2d17f,#f7b613);
    background: -o-linear-gradient(#f2d17f,#f7b613);
    background: -moz-linear-gradient(#f2d17f,#f7b613);
    padding: 5px 25px;
    margin-top: auto;
}